@use '@/styles/settings/variables';

.login {
  position: relative;
  min-height: calc(100vh - 146px);
  padding: 4rem 0 96px;
  overflow: hidden;
  background-color: variables.$body-background;
  z-index: variables.$contain;

  @media (min-width: 768px) {
    min-height: calc(100vh - 103px);
    display: flex;
    align-items: center;
  }

  &__blur {
    &-left {
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      &-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }

    &-right {
      position: absolute;
      top: 0;
      right: 0;
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      &-2 {
        position: absolute;
        top: 0;
        right: 0;
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &-left {
    width: 100%;
    max-width: 480px;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__family {
    width: 100%;
    border-radius: 20px;
  }

  &-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      display: none;
    }

    &__title {
      display: block;
      @media (min-width: 768px) {
        display: none;
      }
    }

    &__image {
      width: 136px;
      min-width: 136px;
      border-radius: 20px;
    }
  }
}
