$_black: #000000;
$_black-2: #03050f;
$_black-3: #0a051e;
$_black-4: #141938;
$_dark-purple: #2b304e;
$_white: #ffffff;
$_white-2: #f8f9ff;
$_white-3: #fafbff;
$_green-1: #00ff7f;
$_green-2: #3c9c0c;
$_green-3: #7df0ba;
$_light-blue: #00f4e2;
$_grayish-purple: #5e6488;
$_grayish-purple-2: #7981b2;
$_opaque-purple: #edeffc;
$_purple-special: #4f4fff;
$_purple-2: #aeacf3;
$_purple-3: #a9afd9;
$_red-1: #ff1c44;

$text: $_black-2;
$text-2: $_black-4;
$color-gradient-1: $_green-1;
$color-gradient-2: $_light-blue;
$border: $_grayish-purple;
$body-background: $_white-2;
$body-background-2: $_white-3;
$separator: $_dark-purple;
$check-color: $_black;
$checkbox: $_black-3;
$breadcrumb: $_opaque-purple;
$breadcrumb-item-active: $_purple-special;
$breadcrumb-item-inactive: $_grayish-purple-2;
$box-shadow-plan: $_purple-2;
$box-shadow-plan: $_purple-2;
$checkbox-plan: $_green-2;
$plan-recomendado: $_green-3;
$seleccionar-plan: $_red-1;
