@font-face {
    font-family: sonoma;
    src: url("../public/BRSonoma-Regular.otf") format("truetype");;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sonoma;
    src: url("../public/BRSonoma-SemiBold.otf") format("truetype");;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: sonoma;
    src: url("../public/BRSonoma-Bold.otf") format("truetype");;
    font-weight: 700;
    font-style: normal;
}

.sonoma {
    font-family: sonoma;
    font-weight: 600;
}
